body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

.konten h5{
    text-align: center !important;
    margin-top: 50%;
    margin-bottom: -50%;
    color: gray;
}

.titleheader{
    font-size: 1.6em !important;
    margin-left: 45px;
}

/* .pprofile{
    background-size: auto;
} */

.name{
    padding-bottom: 8px;
    /* margin-top: -20px; */
    /* margin-bottom: 40px; */
}

/* sidebar-pc */
header, main, footer {
    padding-left: 250px;
  }
   
  main {
    padding-top: 20px;
  }
   
  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
   
  @media only screen and (min-width: 993px) {
    .container {
        width: 95%;
    }
  }
  /* sidebar-pc */


/* profile-pages */
.profil-img{
    width: 122px;
    margin-bottom: 13px;
}
/* profile-pages */

.caret {
    border-color: transparent !important;
}

/* footer */
.title-footer{
    font-size: 1.4em !important;
}

.child-footer{
    font-size: 0.9em !important;
}

.cr{
     font-size: 0.7em !important;
}
/* footer */

/*chats*/
